/* Refresh */
#refresh {
    position: fixed;
    top: 0;
    right: 0;
    color: green;
    background-color: black;
    opacity: 0;

    animation-name: fadeOut;
    animation-duration: 10s;
}


/* Animate out the refresh indicator */
@keyframes fadeOut {
    0% { 
        background: #9f9; 
        padding: 25px;
        opacity: 1;
    }

    15% {
        padding: 10px;
    }

    100% {
        opacity: 0;
        background: #000;
    }
}