
:root {
    --clr-dark: 20, 0, 50;
    --clr-light:  200, 200, 200;
    --clr-title:  200, 200, 50;
    --clr-correct: 30, 180, 40;
    --clr-shuffled: 200 100 200; 
}

/* ------------------- */
/* Reset               */
/* ------------------- */

/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
    margin: 0; 
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 400;
}

/* set up the body */
/*
body {
    font-family: var(--ff-sans-normal);
    font-size: var(--fs-400);
    color: var(--clr-light);
    background-color: var(--clr-dark);
    line-height: 1.5;
    min-height: 100vh;
    
    display: grid;
    grid-template-rows: min-content 1fr;
    
    overflow-x: hidden;
}*/

/* make images easier to work with */
img,
picutre {
    max-width: 100%;
    display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
    font: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ------------------- */
/* Utility classes     */
/* ------------------- */

/* general */

.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.grid {
    display: grid;
    gap: var(--gap, 1rem);
}

.container {
    padding-inline: 2em;
    max-width: 80rem;
    margin-inline: auto;
}

/* For screen reader */
.sr-only {
  position: absolute; 
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px; 
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}


/* Colors */
.bg-dark {background-color: rgb(var(--clr-dark)); }
.bg-correct {background-color: rgb(var(--clr-correct)); }
.bg-shuffled {background-color: rgb(var(--clr-shuffled)); }
.bg-title {background-color: rgb(var(--clr-title)); }

.text-dark {color: rgb(var(--clr-dark)); }
.text-correct {color: rgb(var(--clr-correct)); }
.text-shuffled {color: rgb(var(--clr-shuffled)); }
.text-title {color: rgb(var(--clr-title)); }

.example-transparent { background-color: rgba(var(--clr-correct), 0.5); }